.page {
  display: flex;
  max-width: 1440px;
  color: #ffffff;
}




.brandname {
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.header__content{
  flex-wrap: wrap;
  display: flex;
  
  
}
.header__content__text {
  padding-left: 132px;
  padding-top: 157px;
}

.tag {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;


  letter-spacing: 0.1px;
}

.title {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;


  letter-spacing: 0.2px;

}

.sub__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;


  letter-spacing: 0.2px;
}

.header__content__images{
  
  
  /* padding-left: 732.69px; */
  
  
}